<!-- https://bootsnipp.com/snippets/Q0eE1   -->
<!-- https://api.cdnjs.com/libraries?fields=name,filename,version,description,homepage&search=angular   -->

<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl] = 'queryField'
          placeholder="Pesquisar Libs"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-lg btn-success" (click)="onSearch()"  >Pesquisar</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <h3 *ngIf="total === 1" >{{ total }} Registro encontrado </h3>
    <h3 *ngIf="total > 1" >{{ total }} Registros encontrados </h3>
    <table class="table" id="myTable" >
      <thead *ngIf="total > 0"  style="color: chartreuse; background: #000000;">
        <tr>
          <th>Nome</th>
          <th>Versao</th>
        </tr>
      </thead>
      <tbody style="color: midnightblue; background: darkturquoise;">
        <tr *ngFor="let result of results$ | async"  >
          <td>{{ result.name }}</td>
          <td>{{ result.version }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
