<!-- 
  Css Source always use this link to get CSS BOOSTSTRAP
  https://getbootstrap.com/docs/3.4/  
 -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)"  >
  <div class="form-group">
    <label for="nome">
      Nome
    </label>

    <input type="text" 
      class="form-control"
      id="nome" 
      placeholder="Nome" 
      ngModel
      name="nome"
    >    
  </div>
  <div class="form-group">
      <label for="email">Nome</label>
      <input type="email" 
        class="form-control"
        id="email" 
        placeholder="nome@email.com"
        ngModel
        name="email"        
      >    
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>