<!-- 
  Css Source always use this link to get CSS BOOSTSTRAP
  https://getbootstrap.com/docs/3.4/  
  
  https://www.the-art-of-web.com/html/html5-form-validation/
  
 -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)"  >
  <div class="form-group">
    <label for="nome">
      Nome
    </label>

    <input type="text" 
      class="form-control"
      id="nome" 
      placeholder="Nome" 
      [ngModel]="usuario.nome"
      name="nome"
      required
      #nome
    >    
    <div>
      {{ nome.className }}
    </div>
  </div>
  <div class="form-group">
      <label for="email">Nome</label>
      <input type="email" 
        class="form-control"
        id="email" 
        placeholder="nome@email.com"
        [ngModel]="usuario.email"
        name="email"        
        required
        email = "true"
        pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
        #email
      >    
      <div>
        {{ email.className }}
      </div>
        
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>