<section class="desafio1">
  <article>
    <h3>Vo desafia voce!</h3>

    
    <div>
        <select (change) = "mudacombo(selectImput.value)" name="singleSelect" ng-model="data.singleSelect" #selectImput>
            <option *ngFor = "let curso of cursos, let i = index" >
               {{ curso }}
              </option>  
          </select><br>
              

 
          <br>
          <br>
            

          

          <br><br>
          <h1>
          <span 
          (mouseover) = onMouseOver();
          (mouseout) = onMouseOut();
          
          [style.background-color] ="cor" 
          
          >passe o mouse sobre min </span>
        </h1>
    </div>
  </article>
  

</section>