<Div style="margin-top: 20px;">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="customFileLangHTML"
      (change)="onchange($event)"
      multiple
    />
    <label
      class="custom-file-label"
      for="customFileLangHTML"
      data-browse="Pegar"
      id="customFileLabel"
      >Pega arquivo</label
    >
  </div>
  <div
    class="progress"
    style="color: rgb(0, 255, 76); text-align: center;"
    *ngIf="lLoad"
  >
    <div
      [ngClass]="{
        'progress-bar progress-bar-striped bg-warning progress-bar-animated':  vProgress(1),
        'progress-bar bg-success':  vProgress(2)
      }"
      role="progressbar"
      [style.width]="ordemEProgresso"
      aria-valuenow="ordemEProgresso"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ ordemEProgresso }}
    </div>
  </div>
</Div>
<Div style="margin-top: 20px;">
  <button
    type="button"
    class="btn btn-primary"
    (click)="onUpload()"
    [disabled]="!files"
  >
    Uppar
  </button>
</Div>
