.greewhite {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.greewhite:hover {
  background-color: #4CAF50;
  color: white;
}


.redblack {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.redblack:hover {
  background-color: red;
  color:yellow;
}



.blueorange {
  background-color: blue;
  color: orange;
  border: 2px solid black;
}

.blueorange:hover {
  background-color: orange;
  color:blue;
}
